h1 お問い合わせ

h2 特定商取引法に基づく表示

h3 販売業者の名称
p 株式会社Rails Shop

h3 販売業者の住所
p 郵便番号999-9999 東京都台東区x-x-x xxビル

h3 販売責任者名
p 代表取締役　山田　太郎

h3 商品の価格
p 各商品ごとに表示

h3 返品の取扱方法
p 商品が不良品の場合、ご注文と異なる商品が到着した場合は、交換・返品をお受けいたします。



